@import "./works-common.css";

.works-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 4rem 1.5rem 4rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: var(--light-bg);
  width: 60%;
  border-radius: 15px;
}

.eval-title,
.comment-title {
  border-top: 1px solid var(--divider);
  font-size: 24px;
  font-weight: 500;
  margin-top: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.eval-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.icon-large {
  border: none;
  background-color: inherit;
  width: 2.5rem;
}

.off {
  fill: var(--text-light);
}

.on {
  fill: var(--text-dark);
}

#demand {
  position: relative;
}

#demand::after {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  content: "改善あり";
  font-size: 0.8rem;
  width: 55px;
  color: var(--text-medium);
  top: 20px;
  left: 2.3rem;
}

.count {
  text-align: center;
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.9rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form>input,
.comment-form>textarea {
  margin-bottom: 2rem;
  padding: 7px;
  resize: none;
}

.comment-form>label {
  font-weight: bold;
  color: var(--text-medium);
  align-self: baseline;
}

.comment-form textarea {
  height: 200px;
}

div:has(>.submit) {
  position: relative;
  text-align: center;
}

.comment-form button {
  width: 150px;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit-status {
  display: inline-block;
  color: var(--text-medium);
  font-size: 0.8rem;
  position: absolute;
  top: 30px;
  margin-left: 10px;
}

.posts-wrapper {
  margin-top: 2rem;
  border-top: 1px solid var(--divider);
}

.posts-fetch {
  margin-top: 1.5rem;
  border: none;
  color: #0070E0;
  border-bottom: 1px dotted #0070E0;
  background-color: inherit;
  cursor: pointer;
}

.posts-fetch-disabled {
  color: var(--text-medium) !important;
  cursor: default;
}

.post {
  margin-left: 1rem;
}

.post-meta {
  display: flex;
  margin-top: 1rem;
  column-gap: 10px;
  font-size: 0.9rem;
  color: var(--text-medium);
}

.post-meta-seq,
.post-meta-author {
  font-weight: 600;
}

.post-meta-type {
  height: 14px;
  fill: var(--text-medium);
  margin-left: 10px;
  align-self: center;
}

.post-content {
  white-space: pre-wrap;
}

.post-eval {
  display: flex;
  align-items: center;
  margin-top: 12px;
  column-gap: 1rem;
}

.post-eval span {
  font-size: 14px;
  color: var(--text-medium);
}

.icon-medium {
  border: none;
  background-color: inherit;
  width: 20px;
  padding: 0;
}

.fill-demand {
  fill: orange;
}

.works-other-content {
  /* display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem; */
  position: relative;
  /* text-align: center; */
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.works-other-content a:nth-child(2) {
  margin-left: 1rem;
}

.edit-icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0px;
  top: 0px;
  font-size: 0.9rem;
  font-family: monospace, sans-serif;
  color: var(--text-medium);
}

.edit-icon-wrapper svg {
  height: 25px;
  fill: var(--text-medium);
}

.edit-icon-wrapper a {
  color: inherit;
}

.edit-icon-wrapper a:visited {
  color: inherit;
}

.hidden {
  display: none;
}

.modal {
  width: 100vw;
  /*vhだと何故かwidthが狭まるとフルで高さ取らなくなるので、、、*/
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.modal form {
  box-sizing: border-box;
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  row-gap: 1rem;
  border-radius: 10px;
}

.modal label {
  display: block;
  color: var(--text-medium);
}

.modal textarea,
.modal input {
  padding: 7px;
  width: 500px;
}

.modal textarea {
  height: 150px;
}

.modal button {
  height: 50px;
  width: 150px;
  align-self: center;
}

.modal svg {
  position: absolute;
  height: 75px;
  top: 100px;
  right: calc(100vw/2 -37.5px);
  fill: white;
}

@media screen and (min-width:1025px) {
  .modal svg:hover {
    fill: var(--text-light);
  }
}

@media screen and (max-width:1024px) {
  .works-content {
    width: 80%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .works-other-content {
    width: 80%;
  }

}

@media screen and (max-width:600px) {

  .works-content {
    width: 95%;
    padding: 1.5rem 0.5rem 2rem 0.5rem;
    /* padding: 1.5rem 0 2rem 0; */
  }

  .works-other-content {
    width: 95%;
    display: flex;
  }

  #prev {
    margin-left: 1rem;
  }

  .modal form {
    width: 80%;
  }

  .modal input,
  .modal textarea {
    width: 90%;
    font-size: 0.9rem;
  }
}