{{define "nav"}}
{{if eq .Current "HOME"}}
<li class="nav-current"><a href="/">HOME</a></li>
{{else}}
<li><a href="/">HOME</a></li>
{{end}}
{{if eq .Current "EDIT"}}
<li class="nav-current"><a href="/edit">編集</a></li>
{{else}}
<li><a href="/edit">編集</a></li>
{{end}}
{{if eq .Current "BOARD"}}
<li class="nav-current"><a href="/board">掲示板</a></li>
{{else}}
<li><a href="/board">掲示板</a></li>
{{end}}
{{if eq .Current "RULE"}}
<li class="nav-current"><a href="/rule">ルール</a></li>
{{else}}
<li><a href="/rule">ルール</a></li>
{{end}}
{{end}}